.reddish{border:1px solid red;}
.blueish{border:1px solid blue;}
.nav{padding-top:20px;min-height:40px}
.nav .dormans{float:right;}
.nav img{width:10%}
.section2{background-image: url(../images/pattern.png);height: 100%;width:100%;}
.bggreen{background-color:#7DBA50;height:680px;background-image: url(../images/pattern.png);background-repeat: no-repeat;background-position:top-left;}
.bggrey{background-color:#D7D7D7;height:680px;background-image: url(../images/pattern.png);background-repeat: no-repeat;padding:10px 0;}
.form{background-color:#fff;width:50%;margin-left:250px;padding:5px 20px 10px 80px;}
.section2 input[type=text]{background-color:#949494;width:50%}
.section2 input[type=number]{background-color:#949494;width:50%;}
.img img{position: absolute;top:70px;left:275px;z-index:2;}
.btn-large{background-color:#7DBA50;}
button:focus{background-color:#7DBA50;}
.row .col {padding: unset;}
.row{margin-bottom: unset;}
.section3{background-color: #626262;}
.section3{padding-top:4px}



@media all and (min-width: 0) and (max-width: 360px) and (orientation: portrait) {
  .cup{background-image:url(../images/pattern.png);background-size:cover;max-width:50%;height:170px;background-color: #7FBB51}
  .img img{position:unset;top:unset;left:unset;z-index:unset;width:100%;margin-left:87px;}
  .motherform{background-color:#D7D7D7;opacity: 0.5;margin-top: 70px;max-width:72%;padding-top: 30px;padding-bottom: 30px; position:unset;top:unset;left:unset;max-height:100%}
  /* .form{background-color: #fff;max-width:unset;margin-left:unset;padding:20px 20px 10px 80px;} */
  .form{width:100%}




}
